html, body {
    height: 100%; 
    width: 100%;
    margin: 0;
    display: flex;
}


#leftPannel{
    height: 100%;
    width: 30%;
    background-color: #083D77;
    display: flex;
    flex-direction: column;

}
.jaini-purva-regular{
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    font-style: normal;
}

#yourPersonalInfo{
    color: #F4D35E;
    font-family: 'Jaini Purva', sans-serif;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 4%;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.inputInfo{
    border-radius: 20px;
    width: 70%;
    height: 30px;
    font-family: "Nanum Myeongjo";
    font-weight: 1000;
    background-color: #D9D9D9;
    color: #083D77;
    text-align: center;
    justify-content: center;
}
.inputInfo::placeholder {
    color: #083D77;
    font-weight: normal;
    font-size: small; 
}

.semesterContainer{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 70%; 
    margin-bottom : 15px; 
}
#semesterNumberText{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 30px;
    padding: 5px 10px;
    font-family: "Nanum Myeongjo";
    background-color: #D9D9D9;
    color: #083D77;
    font-size: small;
    flex-grow: 1;
    display: flex; 
    align-items: center; 
    justify-content: left;
}

#semesterNumberChoice{
    cursor: pointer; 
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
    width: 50px;
    height: 41px;
    font-family: "Nanum Myeongjo";
    background-color: #D9D9D9;
    color: #083D77;
    text-align: center;
}

#mainCalculator{
    width: 70%;
    height: 40px;
    background-color: #F4D35E;
    color: white;
    border-radius: 20px;
    font-family: "Jaini Purva";
    font-size: 30px;
    text-decoration: none;
    display: flex;              
    justify-content: center; 
    text-align: center;
    align-items: center;
    margin: 10px auto;
    cursor: pointer; 
}

#mainCalculator:hover{
   background-color: #EE964B;
}

#rightPannel{
    width: 70%;
    background-color: #EBEBD3;
    display: flex;
    flex-direction: column;
}

#welcome{
    color: #083D77;
    font-family: "Jaini Purva";
    font-size: 50px;
    font-weight: bolder;
    margin: 0%;
    padding-top: 15%;
    padding-left: 20%;
}

#CGPAcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
#CGPA{
    color: #F4D35E;
    font-family: "Jaini Purva";
    font-size: 60px;
    font-weight: bolder;
    margin: 0%;
    padding-top: 0%;
    padding-left: 20%;
}

#icon{
    color: #083D77;
    font-size: 40px;
    display: inline-block;
    margin-left: 10px;
}

#paragraph{
    color: #083D77;
    font-family: "JejuMyeongjo";
    font-size: 20px;
    font-weight: normal;
    margin: 0%;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

/*------------------------------------------------*/


#left{
    height: 94vh;             
    width: 30vw;   
    border: 1px solid #ccc; 
    background-color: #083D77;
    padding: 10px 0px 20px 10px; 
}

h2{
    font-family: "Jaro";
    font-size: 25px;
    color: #F4D35E;
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    position: sticky;
    text-align: center; 
    padding-top: 50px;
    padding-left: 100px;
    font-weight: normal;
}  
 

.gpa_table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    /* margin-left: 15px;
    margin-top: 50px; */
    text-align: center;
    font-size: 0.9em;
    min-width: 300px;
}



.gpa_table thead tr{
    border: 1px solid #dddddd;
    background-color:#db7b28;
    color: #083D77;
    text-align: center;
    font-weight: bold;
    font-family: "inter";
   
}

.gpa_table th,
.gpa_table td{
    padding: 5px 5px;
    
}


.gpa_table th, td {
    border-left: 1px solid #dddddd; 
    padding: 8px;
    text-align: left;
    text-align: center;
}

.gpa_table tbody tr{
    border: 1px solid #dddddd;
    background-color: #EE964B;
    color: #083D77;
    font-weight: bold;
    padding-left: 10px;
} 


#rightPannelMainPage{
    width: 70%;
    background-color: #EBEBD3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading{
    color: #083D77;
    font-family: "Jaini Purva";
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
#semester{
    color: #083D77;
    font-family: "Rubik";
    padding: 0%;
    margin: 0%;
    margin-left: 50px;
    align-self: flex-start;
    font-size: large;
    font-weight: bold;
}

#headings{
    width: 100%;
    color: #083D77;
    font-family: "Rubik";
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-right: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#CourseName{
    margin-left: 50px;
}
#inputInformation {
    width: 100%;
}
.infoRow {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin-bottom: 10px; 
    margin-left: 50px;
    
}
.inputInfor {
    flex: 1; 
    margin: 0 10px; 
    padding: 5px;
    text-align: center;
    color: #083D77;
    font-family: "Rubik";
    font-weight: 700;
    background-color: #F4D35E;
}
.inputInfor::placeholder{
    color: #083D77;
    font-family: "Rubik";
    font-weight: 300;
}
.infoRow i {
    margin-left: 50px;
    cursor: pointer; 
    font-size: 20px; 
    color: red; 
}

#AddClear{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    align-items: end;
    font-style: "Rubik";
    font-size: small;
    margin-left: 400px;
}
#clearAll {
    color: red;
    display: flex;
    align-items: center; 
}
#addCourse{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    align-items: center;
    color: #083D77;
}
#addIcon{
    color: #083D77;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
#crossIcon{
    color: red;
    font-size: 18px;
    cursor: pointer;
    margin-right: 8px;
}

#ButtonsBelow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;

}
#ButtonsBelow button {
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    font-family: "Rubik";
    font-weight: bold;
    background-color: #083D77;
    color: #F4D35E;
    border-radius: 5%;
}
#ButtonsBelow button:hover{
    background-color: #EE964B;
    color: #083D77;
}

#finalResults{
    display: flex;
    flex-direction: row;
    padding-left: 400px;
    align-items: flex-end;
    margin-top: 10px;
    font-family: "Rubik";
    font-weight: bold;
    color: #083D77;
}

#finalCGPA{
    margin-left: 45px;
}
