{% extends 'base.html' %}

{% block content %}

<div class="flex justify-center bg-[#EBEBD3] p-4 pt-28 pb-44">
    <form id="gpa-form" action="{% url 'calculator' %}" method="post" class="w-full max-w-3xl bg-white rounded-lg shadow-lg p-6 space-y-6">
        {% csrf_token %}

        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="university" value="{{ university }}">
        <input type="hidden" name="degree" value="{{ degree }}">
        <input type="hidden" name="semester" value="{{ semester }}">

        <h2 class="text-[#083D77] text-2xl font-[Rubik] text-center font-semibold">GPA Calculator</h2>

        <table id="courses-table" class="w-full table-auto border-separate border-spacing-x-3 border-spacing-y-2">
            <thead>
                <tr class="text-[#083D77]">
                    <th class="py-2 text-left text-[18px]">Course Title</th>
                    <th class="py-2 text-left text-[18px]">Credit Hours</th>
                    <th class="py-2 text-left text-[18px]">Obtained Marks</th>
                    <th class="py-2 text-left text-[18px]">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="course_title" placeholder="Enter course title" required class="w-full bg-[#f7da74] text-[#083D77] placeholder-[#083D77] p-2 rounded" />
                    </td>
                    <td>
                        <input type="text" name="credit_hours" placeholder="Enter credit hours" required class="w-full bg-[#f7da74] text-[#083D77] placeholder-[#083D77] p-2 rounded" />
                    </td>
                    <td>
                        <input type="text" name="obtained_marks" placeholder="Enter obtained marks" required class="w-full bg-[#f7da74] text-[#083D77] placeholder-[#083D77] p-2 rounded" />
                    </td>
                    <td>
                        <button type="button" class="remove-course-btn text-[17px] font-semibold text-red-500 hover:text-red-700 hover:underline transition duration-300 ease-in-out">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="flex justify-between mt-4 px-3">
            <button type="button" id="add-course-btn" class="bg-[#083D77] text-[#F4D35E] text-lg rounded-lg py-2 font-semibold px-6 hover:bg-[#fab070] hover:text-[#083D77] transition ease-in-out duration-300">Add Course</button>
            <button type="submit" class="bg-[#083D77] text-[#F4D35E] text-lg rounded-lg py-2 font-semibold px-6 hover:bg-[#fab070] hover:text-[#083D77] transition ease-in-out duration-300">Calculate GPA</button>
        </div>
    </form>
</div>

{% endblock %}