{% extends 'base.html' %}

{% block content %}

<div class="flex items-center justify-center" style="height: calc(100vh - 55.9px); min-height: 300px; background-color: #EBEBD3;">
    <form action="{% url 'home' %}" method="post" class="bg-white py-4 px-6 rounded-lg shadow-md w-full max-w-lg">
        {% csrf_token %}

        <h2 class="text-3xl font-bold mb-3 text-center" style="color: #083D77; font-family: 'Jaini Purva', sans-serif;">
            STUDENT INFORMATION
        </h2>

        <div class="mb-2">
            <label for="name" class="block font-semibold text-[17px] mt-2 mb-1" style="color: #083D77;">
                Full Name
            </label>
            <input type="text" id="name" name="name" placeholder="Enter your full name" required
                class="w-full px-3 py-1 mb-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                style="border-radius: 20px;">
        </div>

        <div class="mb-2">
            <label for="university" class="block font-semibold text-[17px] mt-2 mb-1" style="color: #083D77;">
                Institution
            </label>
            <input type="text" id="university" name="university" placeholder="Enter your university" required
                class="w-full px-3 py-1 mb-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                style="border-radius: 20px;">
        </div>

        <div class="mb-2">
            <label for="degree" class="block font-semibold text-[17px] mt-2 mb-1" style="color: #083D77;">
                Program of Study
            </label>
            <input type="text" id="degree" name="degree" placeholder="Enter your degree program" required
                class="w-full px-3 py-1 mb-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                style="border-radius: 20px;">
        </div>

        <div class="mb-3">
            <label for="semester" class="block font-semibold text-[17px] mt-2 mb-1" style="color: #083D77;">
                Academic Term
            </label>
            <input type="text" id="semester" name="semester" placeholder="Enter your semester" required
                class="w-full px-3 py-1 mb-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                style="border-radius: 20px;">
        </div>

        <button type="submit" class="w-full py-2 font-semibold text-lg my-2 rounded-lg focus:outline-none focus:ring-2"
            style="background-color: #083D77; color: #F4D35E; border-radius: 20px; transition: all 0.3s ease-in-out;"
            onmouseover="this.style.backgroundColor='#fab070'; this.style.color='#083D77';"
            onmouseout="this.style.backgroundColor='#083D77'; this.style.color='#F4D35E';">
            Proceed
        </button>
    </form>
</div>

{% endblock %}