<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="left">
        <h2>
            GPA CHART

        </h2>
            <table class="gpa_table">
                
                <thead>
                     <tr>
                        <th>Percentage Marks</th>
                        <th>Letter Grade</th>
                        <th>Grade Point</th>
                    </tr>
                    </thead>
                
                    
                <tbody id>
                    <tr>
                        <td>85 & above</td>
                        <td>A</td>
                        <td>4.00</td>
                    </tr>

                    <tr>
                        <td>80 - 84</td>
                        <td>A-</td>
                        <td>3.70</td>
                    </tr>

                    <tr>
                        <td>75 - 79</td>
                        <td>B+</td>
                        <td>3.30</td>
                    </tr>

                    <tr>
                        <td>70 - 74</td>
                        <td>B</td>
                        <td>3.00</td>
                    </tr>

                    <tr>
                        <td>65 - 69</td>
                        <td>B-</td>
                        <td>2.70</td>
                    </tr>

                    <tr>
                        <td>61 - 64</td>
                        <td>C+</td>
                        <td>2.30</td>
                    </tr>

                    <tr>
                        <td>58 - 60</td>
                        <td>C</td>
                        <td>2.00</td>
                    </tr>


                    <tr>
                        <td>55 - 57</td>
                        <td>C-</td>
                        <td>1.70</td>
                    </tr>


                    <tr>
                        <td>50 - 54</td>
                        <td>D</td>
                        <td>1.00</td>
                    </tr>

                    <tr>
                        <td>Below 50 or absent</td>
                        <td>F</td>
                        <td>0.00</td>
                    </tr>
                    
                        

                    
                </tbody>
                    
            </table>
    </div> 



    <div id="rightPannelMainPage">
        <h1 id="heading">GPA Calculator</h1>
        <h2 id="semester">Semester</h2>
        <div id="headings">
            <div id="CourseName">Course Name</div>
            <div >Marks</div>
            <div >Credits</div>
        </div>
        <div id="inputInformation">
           <form action="action.php">
                <div id="Info1" class="infoRow">
                    <input class="inputInfor" type="text" placeholder="Eg Advanced Calculus">
                    <input class="inputInfor" type="number" placeholder="Eg 75">
                    <input class="inputInfor" type="number" placeholder="Eg 2">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>

                <div id="Info2" class="infoRow">
                    <input class="inputInfor" type="text" placeholder="Eg Linear Algebra">
                    <input class="inputInfor" type="number" placeholder="Eg 64">
                    <input class="inputInfor" type="number" placeholder="Eg 1">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div> 
                    
                <div id="AddClear">
                    <div id="addCourse">
                        <i id="addIcon" class="fa-solid fa-circle-plus"></i>
                        <p>Add Course</p>
                    </div>
                    <div id="clearAll">
                        <i id="crossIcon" class="fa-regular fa-circle-xmark"></i>
                        <p>Clear All</p>
                    </div> 
                </div>

                <div id="ButtonsBelow">
                    <button id="Caclulate">Calculate GPA</button>
                    <button id="addSemester">Add Semester</button>
                    <button id="download">Download PDF</button>
                </div>
           </form>
           <div id="finalResults">
                <p>Total Credits:</p>
                <p id="finalCGPA">Your CGPA: </p>
           </div>
        </div>
    </div>
</body>
</html>