<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div id="left">
        <h2>
            GPA CHART

        </h2>
            <table class="gpa_table">
                
                <thead>
                     <tr>
                        <th>Percentage Marks</th>
                        <th>Letter Grade</th>
                        <th>Grade Point</th>
                    </tr>
                    </thead>
                
                    
                <tbody id>
                    <tr>
                        <td>85 & above</td>
                        <td>A</td>
                        <td>4.00</td>
                    </tr>

                    <tr>
                        <td>80 - 84</td>
                        <td>A-</td>
                        <td>3.70</td>
                    </tr>

                    <tr>
                        <td>75 - 79</td>
                        <td>B+</td>
                        <td>3.30</td>
                    </tr>

                    <tr>
                        <td>70 - 74</td>
                        <td>B</td>
                        <td>3.00</td>
                    </tr>

                    <tr>
                        <td>65 - 69</td>
                        <td>B-</td>
                        <td>2.70</td>
                    </tr>

                    <tr>
                        <td>61 - 64</td>
                        <td>C+</td>
                        <td>2.30</td>
                    </tr>

                    <tr>
                        <td>58 - 60</td>
                        <td>C</td>
                        <td>2.00</td>
                    </tr>


                    <tr>
                        <td>55 - 57</td>
                        <td>C-</td>
                        <td>1.70</td>
                    </tr>


                    <tr>
                        <td>50 - 54</td>
                        <td>D</td>
                        <td>1.00</td>
                    </tr>

                    <tr>
                        <td>Below 50 or absent</td>
                        <td>F</td>
                        <td>0.00</td>
                    </tr>
                    
                        

                    
                </tbody>
                    
            </table>
    </div> 


    <div id="right">
        <h1 id="heading">GPA Calculator</h1>
        <h2 id="semester">Semester</h2>
    

    <div class="course">
        <div id="one">
            Course Name
        </div>
        <div id="two">
            Marks
        </div>
        <div id="three">
            Credits
        </div>
    </div>

    <div class="name">
        <div id="sub">
        <input class="name" type="text" placeholder="Eg. Advanced Calculus" style="background-color: #F4D35E54;">
        </div>
        <div id="marks">
        <input class="name" type="text" placeholder="          Eg. 75        " style="background-color: #F4D35E54;">
        </div>
        <div id="credit">
        <input class="name" type="text" placeholder="          Eg. 1         " style="background-color: #F4D35E54;">
        </div>
        <div id="button">
            <button class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button>
            <!-- <button><i class="fa-regular fa-circle-xmark"></i></button> -->
        </div>
    </div>

    <div class="name">
        <div id="sub">
        <input class="name" type="text" placeholder="Eg. Advanced Calculus" style="background-color: #F4D35E54;">
        </div>
        <div id="marks">
        <input class="name" type="text" placeholder="          Eg. 75        " style="background-color: #F4D35E54;">
        </div>
        <div id="credit">
        <input class="name" type="text" placeholder="          Eg. 1         " style="background-color: #F4D35E54;">
        </div>
        <div id="button">
            <button class="close-btn"><i class="fa-regular fa-circle-xmark"></i></button>
        </div>
    </div>

    <div class="addButtons">
        <button class="add" style="color: #083D77;"><i class="fa-solid fa-plus"></i></button>
        <p>Add Course</p>
        <button class="clear" style="color: red;"><i class="fa-regular fa-circle-xmark"></i></button>
        <p>Clear All</p>
    </div>

    
</body>
</html>