<nav class="p-4" style="background-color: rgb(8, 61, 119);">
    <ul class="flex justify-between items-center">
        <li><a href="{% url 'home' %}" class="text-[#F4D35E] hover:text-[#EE964B] font-bold">GPA Calculator</a></li>
        <div class="flex space-x-8">
            <li><a href="{% url 'policy' %}" class="text-[#F4D35E] hover:text-[#EE964B]">Grading Policy</a></li>
            <li><a href="https://github.com/abdullahashfaq-ds" target="_blank" class="text-[#F4D35E] hover:text-[#EE964B]">Contact</a></li>
        </div>
    </ul>
</nav>