{% extends 'base.html' %}

{% block content %}

<div class="flex items-center justify-center min-h-screen bg-[#EBEBD3]" >
    <div class="w-full max-w-3xl p-4">
        <h2 class="text-[#083D77] text-2xl font-[Rubik] font-semibold text-center mb-4">Grading Policy for PUCIT/FCIT</h2>
        <table class="w-full bg-[#f7b277] text-[#083D77] font-[Inter] rounded-lg shadow-lg border-2 border-[#083D77]">
            <thead class="border-t-2 border-[#083D77] border-b-2 border-[#083D77]">
                <tr class="text-center">
                    <th class="py-2 border-r border-[#083D77] text-[17px]">Percentage Marks</th>
                    <th class="py-2 border-r border-[#083D77] text-[17px]">Letter Grade</th>
                    <th class="py-2 text-[17px]">Grade Point</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">85% and above</td>
                    <td class="py-2 border-r border-[#083D77]">A</td>
                    <td class="py-2">4.00</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">80% - 84%</td>
                    <td class="py-2 border-r border-[#083D77]">A-</td>
                    <td class="py-2">3.70</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">75% - 79%</td>
                    <td class="py-2 border-r border-[#083D77]">B+</td>
                    <td class="py-2">3.30</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">70% - 74%</td>
                    <td class="py-2 border-r border-[#083D77]">B</td>
                    <td class="py-2">3.00</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">65% - 69%</td>
                    <td class="py-2 border-r border-[#083D77]">B-</td>
                    <td class="py-2">2.70</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">61% - 64%</td>
                    <td class="py-2 border-r border-[#083D77]">C+</td>
                    <td class="py-2">2.30</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">58% - 60%</td>
                    <td class="py-2 border-r border-[#083D77]">C</td>
                    <td class="py-2">2.00</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">55% - 57%</td>
                    <td class="py-2 border-r border-[#083D77]">C-</td>
                    <td class="py-2">1.70</td>
                </tr>
                <tr class="text-center border-b border-[#083D77]">
                    <td class="py-2 border-r border-[#083D77]">50% - 54%</td>
                    <td class="py-2 border-r border-[#083D77]">D</td>
                    <td class="py-2">1.00</td>
                </tr>
                <tr class="text-center">
                    <td class="py-2 border-r border-[#083D77]">Below 50% or absent</td>
                    <td class="py-2 border-r border-[#083D77]">F</td>
                    <td class="py-2">0.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}